body {
    font-family: sans-serif;
  }
  
  #input-container {
    margin-top: 50px;
    width: 300px;
    display: grid;
    grid-template-columns: 100px 100px;
  }
  
  #output-container {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    position: relative;
  }
  
  .block {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: #ff5858;
    transition: 0.2s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
  }
  
  .block_label {
    text-align: center;
  }

  #input {
    top: -20px;
    width: 400px;
    height: 140px;
    position: relative;
  }

  .header {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
  }
  